.body {
  padding: 96px 0;
}

.h2_hero_title {
  color: #110e38;
  font-size: 35px;
  margin-bottom: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -1px;
}
.h2_hero_desc {
  /*max-width: 32%;*/ /* TODO: Confirm why this was added. the layout looks weird. */
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 2%;
  /* padding-bottom: 40px; */
}

.h2_hero_desc2 {
  max-width: 32%;
  font-size: 18px;
  line-height: 1.6;
  margin: 0 auto;
}

.work_container {
  display: grid;
  grid-template-rows: 27rem 27rem;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-gap: 2%;
  overflow: visible;
  justify-content: space-between;
}

.limit {
  max-height: 33rem;
  overflow: hidden;
}

.btn {
  font-size: 18px;
  padding: 15px 40px;
  font-weight: 700;
  display: inline-block;
  flex: 1 1 auto;
  /* margin-right: 20px; */
  /* margin-bottom: 10px; */
  transition: 0.2s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-4 {
  background-image: linear-gradient(90deg, #1495a7 0, #003687 167%);
}
