.card_btn {
  border: none;
  /* all: unset; */
  /* overflow: hidden; */
  cursor: pointer;
}

.card {
  height: 90%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom, #1495a7 0, #003687 160%);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.work_img {
  width: 100%;
  height: auto;
  transform: scale(1);
  object-fit: scale-down;
  object-position: 50% 50%;
  transition: 0.2s ease-in-out opacity, 0.3s ease-in-out transform,
    0.3s ease-in-out filter;
}

.content {
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  transform: translate(0%, 30%);
  padding: 20% 2%;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease-in-out opacity, 0.3s ease-in-out transform;
}

@media only screen and (min-width: 1024px) {
  .content {
    text-align: left;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    height: 90%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to bottom, #1495a7 0, #003687 160%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .work_img {
    width: 100%;
    height: 80%;
    object-fit: fill;
  }
  .content {
    position: relative;
    border-radius: 10px;
    font-size: 18px;
    padding: 4% 2%;
    transform: translate(0%, -24%);
    opacity: 1;
    color: #003687;
    background-color: #fff;
    box-shadow: -1px -7px 7px -1px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: -1px -7px 7px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: -1px -7px 7px -1px rgba(0, 0, 0, 0.36);
  }
}

@media (hover: hover) and (pointer: fine) {
  .card:hover .content {
    transform: translate(0, 10%);
    opacity: 1;
  }
  .card:hover .work_img {
    opacity: 0.2;
    transform: scale(1.1);
    filter: blur(1px);
  }
}
