.body {
  text-align: center;
  color: #110e38;
}

/* Title................................................. */
.hero_title_space {
  padding: 1% 0 1%;
}

.hero_title {
  margin: 0 10%;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0;
}

.hero_title_desc {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

/* Video....................................................... */
.video {
  max-width: 100%;
  border-radius: 1em;
}

.work_img {
  display: block;
}

.img {
  display: inline-block;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

/* Description................................................. */
.description_space {
  padding: 0 0 2%;
}

.description {
  margin: 0 8%;
  font-size: 20px;
  line-height: 1.5;
}

.description_margin {
  margin: 0rem 0 5rem 0;
}

/* Button................................................. */
