.form {
  padding: 96px 0;
  display: block;
  text-align: center;
}

.form_title {
  color: #110e38;
  font-size: 50px;
  margin-bottom: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -1px;
  /* text-align: center; */
}

.description {
  font-size: 20px;
  font-weight: 600;
}

.input {
  display: inline-block;
  font-family: Arial;
  color: #333;
  width: 50%;
  padding: 20px 20px;
  margin: 12px 0;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #d5dce3;
}

.input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
}

.btn {
  font-size: 18px;
  padding: 15px 30px;
  font-weight: 900;
  display: inline-block;
  flex: 1 1 auto;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border-style: none;
}

.btn-4 {
  background-image: linear-gradient(90deg, #1495a7 0, #003687 167%);
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}
