.row {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  padding: 96px 0;
  align-items: center;
  /* justify-content: center; */
}

.column_left {
  flex: 30%;
  text-align: left;
}
.column_right {
  flex: auto;
}

.img {
  float: right;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 100px 80px rgb(20 149 167 / 7%),
    0 41.7776px 33.4221px rgb(20 149 167 / 5%),
    0 22.3363px 17.869px rgb(20 149 167 / 4%),
    0 12.5216px 10.0172px rgb(20 149 167 / 4%),
    0 6.6501px 5.32008px rgb(20 149 167 / 3%),
    0 2.76726px 2.21381px rgb(20 149 167 / 2%);
}

.hero_title {
  color: #110e38;
  font-size: 60px;
  margin-bottom: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -5px;
  align-items: center;
}
.hero_desc {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.6;
  padding-bottom: 40px;
}

.btn {
  font-size: 18px;
  padding: 15px 30px;
  font-weight: 700;
  display: inline-block;
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.2s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-4 {
  background-image: linear-gradient(90deg, #1495a7 0, #003687 167%);
}
.btn-5 {
  background-image: linear-gradient(45deg, white 0, #f0f1ff 167%);
  color: #110e38;
}
