.row {
  display: flex;
  padding-bottom: 220px;
  align-items: center;
}

.column_left {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  flex: 50%;
  padding-top: 60px;
  padding-right: 0px;
  text-align: left;
}
.column_right {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  flex: 50%;
  padding-top: 60px;
  padding-left: 150px;
  text-align: left;
}

.img {
  width: 480px;
  height: 480px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 100px 80px rgb(20 149 167 / 7%),
    0 41.7776px 33.4221px rgb(20 149 167 / 5%),
    0 22.3363px 17.869px rgb(20 149 167 / 4%),
    0 12.5216px 10.0172px rgb(20 149 167 / 4%),
    0 6.6501px 5.32008px rgb(20 149 167 / 3%),
    0 2.76726px 2.21381px rgb(20 149 167 / 2%);
}

.hero_title {
  color: #110e38;
  font-size: 50px;
  margin-bottom: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -1px;
}
.hero_desc {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 40px;
}

.btn {
  display: inline-block;
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 15px 40px 15px 40px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-4 {
  background-image: linear-gradient(
    to right,
    #005b9c -50%,
    #8ccfee 0%,
    #005b9c 100%
  );
}
