.body {
  text-align: center;
  color: #110e38;
}

/* Title................................................. */
.hero_title_space {
  padding: 6% 0 4%;
}

.hero_title {
  margin: 0 15%;
  font-size: 60px;
  margin-bottom: 24px;
  font-weight: 900;
  line-height: 1.12;
  letter-spacing: 0;
}

.hero_title_desc {
  font-size: 18px;
  font-weight: 500;
}

/* Video....................................................... */
.video {
  max-width: 100%;
  border-radius: 1em;
}

/* Description................................................. */
.description_space {
  padding: 4% 0 6%;
}

.description {
  margin: 0 5%;
  font-size: 20px;
  line-height: 1.5;
}

/* Button................................................. */
.button {
  margin: 5%;
  text-align: center;
}
.btn {
  font-size: 18px;
  padding: 15px 30px;
  font-weight: 700;
  display: inline-block;
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-4 {
  background-image: linear-gradient(90deg, #1495a7 0, #003687 167%);
}
