.h2_hero_title {
  color: #110e38;
  font-size: 35px;
  margin-bottom: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -1px;
}
.h2_hero_desc {
  max-width: 28%;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 40px;
}
