.card {
  /* font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif; */
  object-fit: cover;
  /* width: inherit;
  height: inherit; */
  /* width: 350em; */
  /* height: inherit; */
  /* margin: 1rem; */
  overflow: hidden;
  border-radius: 20px;
  /* for Reviews box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
}
