.card {
  object-fit: cover;
  width: 320px;
  height: 400px;
  margin: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  /*
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  width: 20rem;
  height: 20rem; */
}
