.body {
  padding: 96px 0;
}

.h2_hero_title {
  color: #110e38;
  font-size: 35px;
  margin-bottom: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -1px;
}

.h2_hero_desc {
  max-width: 32%;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.6;
  /* padding-bottom: 40px; */
}

.h2_hero_desc2 {
  max-width: 40%;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.6;
  margin: 0px auto;
}

@media only screen and (min-width: 1200px) {
  .blog_container {
    /* display: grid;
  grid-template-rows: 32rem 32rem;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-gap: 2%;
  overflow: visible;
  justify-content: space-between;
  padding: 20px 0; */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 3%;
    padding: 20px 0;
    overflow: visible;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1200px) {
  .blog_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 49% 49%;
    grid-gap: 3%;
    padding: 20px 0;
    overflow: visible;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 640px) {
  .blog_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    /* grid-gap: 3%; */
    padding: 20px 0;
    overflow: visible;
    justify-content: space-between;
  }
}

.button {
  margin: 5%;
  text-align: center;
}
.btn {
  font-size: 18px;
  padding: 15px 30px;
  font-weight: 700;
  display: inline-block;
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-4 {
  background-image: linear-gradient(90deg, #1495a7 0, #003687 167%);
}
