.blog_container {
  position: relative;
  margin-top: -10%;
  padding: 8%;
  border-radius: 20px;
  background-color: white;
}

.blog_img {
  object-fit: cover;
}

.img_size {
  /* height: 90%; */
  width: 100%;
}
.img_size:hover {
  cursor: pointer;
}

.blog_title {
  font-weight: 700;
}

.blog_author {
  font-size: 15px;
  font-weight: 600;
}

.blog_date {
  font-size: 12px;
}

.card_btn {
  position: absolute;
  all: unset;
  /* border: none; */
  overflow: hidden;
}

.card_btn:hover {
  cursor: pointer;
}

.card {
  margin: 0 auto;
  justify-items: center;
  max-width: 98%;
  transition: transform 0.2s ease;
}
.card:hover,
.card:focus,
.card:active {
  transform: translateY(-1%);
}

.btn {
  font-size: 12px;
  padding: 8px 15px;
  font-weight: 700;
  display: inline-block;
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  text-align: center;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-4 {
  background-image: linear-gradient(90deg, #1495a7 0, #003687 167%);
}
