.body {
  padding: 5% 0 2% 0;
  background: linear-gradient(90deg, #1495a7 0, #003687 167%);
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  padding: 0;
  font-weight: 600;
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
}

.footer li {
  display: flex;
  padding: 0 3vh;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.copyright {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}

.year {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(205, 205, 205);
}

/* .logos {
  scale: 1.4;
  margin-left: 6%;
  display: flex;
  justify-content: space-around;
} */
