.header {
  margin: 3rem auto;
  max-width: 60%;
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f2f6ff;
}

.logo {
  font-size: 1rem;
  color: #110e38;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
  display: inline;
}

.header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #110e38;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #8f8da6;
}
