.nav {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #110e38;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

/* .logo {
  font-weight: 800;
  margin-right: -15%;
  margin-top: 1.5vh;
  font-size: 20px;
  display: flex;
} */

.navlinks {
  font-size: 18px;
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 100%;
}
/* .navlinks li {
  margin-right: 5%;
} */

.navlinks li a {
  display: block;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

.navlinks li a:first-child {
  padding-left: 0;
}

.naviconlinks {
  font-size: 18px;
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 100%;
}

.naviconlinks li a {
  display: block;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}

.navlinks li a:hover {
  color: #7c78a9;
}

.active {
  color: #7c78a9;
}

.icon {
  transition: transform 0.1s ease;
}

.icon:hover,
.icon:focus,
.icon:active {
  transform: translateY(-8%);
}
