.nav {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #110e38;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  margin-right: -15%;
  margin-top: 1.5vh;
  font-size: 20px;
  display: flex;
}

.navlinks {
  font-size: 18px;
  display: flex;
  list-style: none;
  justify-content: right;
  width: 70%;
}
.navlinks li {
  margin-left: 35%;
}
/* .navlinks li:hover,
.navlinks li:active,
.navlinks li:focus {
  color: #7c78a9;
} */

.navlinks li a:hover {
  color: #7c78a9;
}

.active {
  color: #7c78a9;
}

.icon {
  transition: transform 0.1s ease;
}

.icon:hover,
.icon:focus,
.icon:active {
  transform: translateY(-8%);
}
